In [1]:
import pandas as pd

In [2]:
file_path = 'C:\\Users\\Lenovo\\salsaseva-DM 2024\\dataKasus-1.xlsx'
xls = pd.ExcelFile(file_path)

In [3]:
df = pd.read_excel(xls, sheet_name='2022')

In [4]:
df = df.drop(columns=["NO", "NAMA", "Unnamed: 12"])

In [5]:
df['USIA'] = df['USIA'].astype(str).str.extract(r'(\d+)').astype(float)

In [6]:
df = df.dropna(subset=['USIA'])

In [7]:
columns_to_check = ["PARITAS", "JARAK KELAHIRAN", "RIW HIPERTENSI", "RIW PE", "OBESITAS", 
                    "RIW DM", "RIW HIPERTENSI/PE DALAM KELUARGA", "SOSEK RENDAH", "PE/Non PE"]

In [8]:
for col in columns_to_check:
    df[col] = df[col].astype('category').cat.codes

In [9]:
print(df.head())

   USIA  PARITAS  JARAK KELAHIRAN  RIW HIPERTENSI  RIW PE  OBESITAS  RIW DM  \
0  23.0        3                0               0       9         0       1
1  29.0        2                0               0       7         0       0
2  20.0        1                3               0       9         0       0
3  18.0        1                3               0       9         0       0
4  34.0        3                2               0       9         0       0

   RIW HIPERTENSI/PE DALAM KELUARGA  SOSEK RENDAH  PE/Non PE
0                                 1             1          1
1                                 0             1          2
2                                 1             1          1
3                                 1             1          1
4                                 1             1          1

In [10]:
analysis = {}
for col in df.columns:
    analysis[col] = {
        "unique_values": df[col].unique(),
        "num_missing": df[col].isnull().sum(),
        "data_type": df[col].dtype,
        "description": df[col].describe()
    }

In [11]:
for col, stats in analysis.items():
    print(f"Analisis untuk kolom: {col}")
    print(f"Tipe Data: {stats['data_type']}")
    print(f"Jumlah Nilai Hilang: {stats['num_missing']}")
    print(f"Nilai Unik: {stats['unique_values']}")
    print(f"Deskripsi: \n{stats['description']}")
    print("\n" + "="*40 + "\n")

Analisis untuk kolom: USIA
Tipe Data: float64
Jumlah Nilai Hilang: 0
Nilai Unik: [23. 29. 20. 18. 34. 28. 36. 39. 37. 16. 24. 31. 35. 13. 21. 40. 25. 27.
 26. 30. 38. 33. 22. 41. 15. 19. 17. 32. 43. 14.]
Deskripsi:
count    558.000000
mean      28.154122
std        5.923926
min       13.000000
25%       24.000000
50%       28.000000
75%       32.000000
max       43.000000
Name: USIA, dtype: float64

========================================

Analisis untuk kolom: PARITAS
Tipe Data: int8
Jumlah Nilai Hilang: 0
Nilai Unik: [3 2 1 4 0 5 6]
Deskripsi:
count    558.000000
mean       1.713262
std        1.013483
min        0.000000
25%        1.000000
50%        2.000000
75%        2.000000
max        6.000000
Name: PARITAS, dtype: float64

========================================

Analisis untuk kolom: JARAK KELAHIRAN
Tipe Data: int8
Jumlah Nilai Hilang: 0
Nilai Unik: [ 0  3  2 -1  1]
Deskripsi:
count    558.000000
mean       2.129032
std        1.069161
min       -1.000000
25%        2.000000
50%        2.000000
75%        3.000000
max        3.000000
Name: JARAK KELAHIRAN, dtype: float64

========================================

Analisis untuk kolom: RIW HIPERTENSI
Tipe Data: int8
Jumlah Nilai Hilang: 0
Nilai Unik: [0 1]
Deskripsi:
count    558.000000
mean       0.094982
std        0.293453
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: RIW HIPERTENSI, dtype: float64

========================================

Analisis untuk kolom: RIW PE
Tipe Data: int8
Jumlah Nilai Hilang: 0
Nilai Unik: [ 9  7  2  5  4 10  0  6  3  8  1]
Deskripsi:
count    558.000000
mean       8.793907
std        0.976657
min        0.000000
25%        9.000000
50%        9.000000
75%        9.000000
max       10.000000
Name: RIW PE, dtype: float64

========================================

Analisis untuk kolom: OBESITAS
Tipe Data: int8
Jumlah Nilai Hilang: 0
Nilai Unik: [0 1]
Deskripsi:
count    558.000000
mean       0.008961
std        0.094320
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: OBESITAS, dtype: float64

========================================

Analisis untuk kolom: RIW DM
Tipe Data: int8
Jumlah Nilai Hilang: 0
Nilai Unik: [1 0]
Deskripsi:
count    558.000000
mean       0.008961
std        0.094320
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: RIW DM, dtype: float64

========================================

Analisis untuk kolom: RIW HIPERTENSI/PE DALAM KELUARGA
Tipe Data: int8
Jumlah Nilai Hilang: 0
Nilai Unik: [1 0]
Deskripsi:
count    558.000000
mean       0.980287
std        0.139138
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: RIW HIPERTENSI/PE DALAM KELUARGA, dtype: float64

========================================

Analisis untuk kolom: SOSEK RENDAH
Tipe Data: int8
Jumlah Nilai Hilang: 0
Nilai Unik: [1 0]
Deskripsi:
count    558.000000
mean       0.992832
std        0.084438
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: SOSEK RENDAH, dtype: float64

========================================

Analisis untuk kolom: PE/Non PE
Tipe Data: int8
Jumlah Nilai Hilang: 0
Nilai Unik: [1 2 5 0 4 6 3]
Deskripsi:
count    558.000000
mean       1.189964
std        0.799308
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        6.000000
Name: PE/Non PE, dtype: float64

========================================

In [12]:
print(df.head())

   USIA  PARITAS  JARAK KELAHIRAN  RIW HIPERTENSI  RIW PE  OBESITAS  RIW DM  \
0  23.0        3                0               0       9         0       1
1  29.0        2                0               0       7         0       0
2  20.0        1                3               0       9         0       0
3  18.0        1                3               0       9         0       0
4  34.0        3                2               0       9         0       0

   RIW HIPERTENSI/PE DALAM KELUARGA  SOSEK RENDAH  PE/Non PE
0                                 1             1          1
1                                 0             1          2
2                                 1             1          1
3                                 1             1          1
4                                 1             1          1